<div class="row onboardTab">
  <div class="seg_rule_heading">
    <h3>Data On-Boarding</h3>
  </div>

  <div class="row">
    <div class="col-sm-3 activity_feed">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body concentric">
              <img src="images/concentric.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Activity Feed</h3>
        </div>
        <div class="panel-body activity-panel">

          <div class="dated_activity" ng-repeat="datedActivity in datedActivities">
            <div class="activity_seg"><span>{{datedActivity.date}}</span></div>
            <div class="activity row" ng-repeat="activity in datedActivity.data">
              <div class="col-sm-2">
                <div class="activity_icon {{activity.iconcolor}}">
                  <i class="fa {{activity.icon}}"></i>
                </div>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-12 activity_title">{{activity.title}}</div>
                </div>
                 <div class="row">
                  <div class="col-sm-12 activity_timestamp">{{activity.timestamp}}</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 custom-onboard-col">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Day-Wise Data</h3>
            </div>
            <div class="panel-body on-board-panel">
               <div class="graphs">
                <div class="graph">
                  <div class="graph_icon">
                    <i class="fa fa-envelope fa-2x"></i>
                  </div>
                  <div class="graph_up">
                    <div>11.9% <i class="fa fa-caret-up"></i></div>
                  </div>
                  <div class="graph_val"><span>2.1K</span></div>
                  <div class="flotgraph" id="email_graph"></div>
                  <div class="bottom_heading graph_mail">Email</div>
                </div>
                <div class="graph">
                  <div class="graph_icon">
                    <i class="fa fa-hand-o-up fa-2x"></i>
                  </div>
                  <div class="graph_up">
                    <div>13.2% <i class="fa fa-caret-up"></i></div>
                  </div>
                  <div class="graph_val"><span>6.9K</span></div>
                  <div class="flotgraph" id="click_graph"></div>
                  <div class="bottom_heading graph_click">Click Stream</div>
                </div>
                <div class="graph">
                  <div class="graph_icon">
                    <i class="fa fa-phone fa-2x"></i>
                  </div>
                  <div class="graph_up">
                    <div>0.8% <i class="fa fa-caret-down"></i></div>
                  </div>
                  <div class="graph_val"><span>9.3K</span></div>
                  <div class="flotgraph" id="call_graph"></div>
                  <div class="bottom_heading graph_call">Call Center</div>
                </div>
                <div class="graph">
                  <div class="graph_icon">
                    <i class="fa fa-database fa-2x"></i>
                  </div>
                  <div class="graph_up">
                    <div>8.7% <i class="fa fa-caret-up"></i></div>
                  </div>
                  <div class="graph_val"><span>13.2K</span></div>
                  <div class="flotgraph" id="data_graph"></div>
                  <div class="bottom_heading graph_data">CRM</div>
                </div>
               </div>
               <div class="m-chart">
                <div id="multiLineChart"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>